<form novalidate #form="ngForm" (submit)="onSubmit(form)">
    <div class="form-group py-2 col-md-8">
        <label>First Name: </label>
        <input class="form-control form-control-lg" placeholder="John" required
        name="firstName" #firstName="ngModel" [(ngModel)]="service.formData.firstName"
        [class.invalid]="firstName.invalid && firstName.touched">
    </div>
    <div class="form-group py-2 col-md-8">
        <label>Last Name: </label>
        <input class="form-control form-control-lg" placeholder="Doe" required
        name="lastName" #lastName="ngModel" [(ngModel)]="service.formData.lastName"
        [class.invalid]="lastName.invalid && lastName.touched">
    </div>
    <div class="form-group py-2 col-md-8">
        <label>Phone Number: </label>
        <input class="form-control form-control-lg" placeholder="06xxxxxx" required
        name="phoneNumber" #phoneNumber="ngModel" [(ngModel)]="service.formData.phoneNumber"
        [class.invalid]="firstName.invalid && firstName.touched">
    </div>
    <div class="form-group py-2 col-md-8">
        <label>Identification Number: </label>
        <input class="form-control form-control-lg" placeholder="13 Digit Identification Number" required
        name="identificationNumber" #identificationNumber="ngModel" [(ngModel)]="service.formData.identificationNumber"
        minlength="13" maxlength="13"
        [class.invalid]="identificationNumber.invalid && identificationNumber.touched">
    </div>
    <!--
    <div class="form-group">
        <label>Gender: </label>
        <select id="genderType" [formControlName]="type"]>
            <option [ngValue]="null"> Select Gender</option>
            <option *ngFor="let type of genderList | keywalue" [ngValue]="type.value">{{type.value}}</option>
            </select>
  
    </div>

    [disabled]="form.invalid"
    -->
    <div class="form-group py-2 col-md-8">
        <label>Gender: </label>
        <input class="form-control form-control-lg" placeholder="Male/Female" required
        name="gender" #gender="ngModel" [(ngModel)]="service.formData.gender"
        [class.invalid]="gender.invalid && gender.touched">
    </div>

    <div class="form-group py-2 col-md-8">
        <label>PackageId: </label>
        <input class="form-control form-control-lg" placeholder="(1-3)" required
        name="packageId" #packageId="ngModel" [(ngModel)]="service.formData.packageId"
        [class.invalid]="packageId.invalid && packageId.touched">
    </div>

    <div class="form-group py-2 col-md-8">
        <label>Email: </label>
        <input class="form-control form-control-lg" placeholder="johndoe@gmail.com" required
        name="emailAddress" #emailAddress="ngModel" [(ngModel)]="service.formData.emailAddress"
        [class.invalid]="emailAddress.invalid && emailAddress.touched">
    </div>
    <div class="form-group py-2 col-md-8">
        <label>Address: </label>
        <input class="form-control form-control-lg" placeholder="Choose" required
        name="address" #address="ngModel" [(ngModel)]="service.formData.address">
    </div>
    <div class="form-group py-3 col-md-8">
        <button [disabled]="form.invalid" class="btn btn-info btn-lg btn-block pull-right" type="submit">
            Submit
        </button>
    </div>
</form>